# Don't use quotes( " and ' )

API_ID=23392712
API_HASH=7cb236b197b25c243fa83e7e0173d0e6
SESSION=BQFk8cgAYTn-jALWEjDEAJ1mDoTuk0kGcsgG1PvjB9ZhgJD87Kd9CxaniV6CE3Y6w0mrksPi-I0bWh3D9TKsteK5jDqYcltmq26SP-v9M20zfqbXiLVVpmzaIYC91qeI68Vl4mZDPzd73_dayD2QH4GWsMtLrUhokO-GHhh6EAnOU14NZPnJ4Z_EgJk6KVU4QwolSaGgT6bEEOvATiXRMn5j3KAwTorq1tywYKok1atsbFnCb9ZxRDR6QgajGcfs2_E9M4a-VBZV8VWsxx_yDFG9DLrkqMNn0QdlKeTXGiZvhapK0LXbaEC7aZmAKiF-Gt-tFzYdyKy1KDk10FKL2taHUeqWzwAAAAGFlm83AA
REDIS_URI=redis-17907.c57.us-east-1-4.ec2.redns.redis-cloud.com:17907
REDIS_PASSWORD=61WC2xic3t2DLHSg3bTp0uxsN1nWZfzy

# [OPTIONAL]

LOG_CHANNEL=1002231230446
BOT_TOKEN=7655797062:AAELBzH7ZV6Fv6seyHE_H2PtQ_fz7NSBaXk
