# Don't use quotes( " and ' )

API_ID=23392712
API_HASH=7cb236b197b25c243fa83e7e0173d0e6
SESSION=
REDIS_URI=redis-17907.c57.us-east-1-4.ec2.redns.redis-cloud.com:17907
REDIS_PASSWORD=61WC2xic3t2DLHSg3bTp0uxsN1nWZfzy

# [OPTIONAL]

LOG_CHANNEL=
BOT_TOKEN=
